body
	margin: 0
	padding: 0
.container
	width: 300px
	padding: 0

.table
	max-width: none
	margin: 0 auto
	padding: 0
.cell
	text-align: center
	line-height: 30px
	float: left
	height: 30px
	width: 30px
	overflow: hidden
	background: #333
	color: #fff
	border: 1px solid #fff
	border-width: 1px 1px 0 0
	&.opened
		background: #fff
		color: #333
.main-title
	margin-top: 40px
	font-size: 40px
	text-align: center

.game-page
	&.header
		white-space: nowrap
		text-align: center
		margin-bottom: 20px
	&.rest,
	&.time,
	&.restart
		padding: 0 10px
		display: inline-block
		font-size: 30px
		line-height: 60px
		overflow: hidden
		white-space: nowrap
	&.rest
		width: 200px
		text-align: left
	&.time
		width: 200px
		text-align: right
	&.restart
		text-align: center
	&.footer
		text-align: center
		margin-top: 30px
.conf-page
	&.title
		margin-top: 40px
		font-size: 30px
		text-align: center
	&.form-layout
		margin-bottom: 20px
		padding: 0
	&.input-layout,
	&.input-title-layout
		display: inline-block
	&.input-layout
		width: 70px
	&.input-title-layout
		text-align: right
		width: 30px
	&.preset-games
		margin: 0
		padding: 0
	&.preset
		list-style: none
		margin: 5px 0
	&.wide
		width: 100%
	&.control-label
		text-align: right
		height: 37px
		line-height: 37px
		font-size: 16px
		white-space: nowrap
	&.form-control
		text-align: center
		font-size: 20px
		white-space: nowrap
		overflow: hidden
	&.btn
		font-size: 20px
