doctype html
html(lang="ja")
    head
        meta(charset='UTF-8')
        title No Mines Land
        script(src='/js/jquery-2.1.4.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/vendor.min.js')
        script(src='/js/build.min.js')
        script(src='/js/app.js')
        link(rel='stylesheet' href='/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/font-awesome.min.css')
        link(rel='stylesheet' href='/css/def.css')
div#app
